.ToDoListItem {
  margin: 4vmin;
  padding: 2vmin;
  border: 1vmin solid purple;
  list-style: none;
  font-size: 6vmin;
  display: flex;
  align-items: center;
}

.ToDoNumber {
  background: black;
  justify-content: center;
  border-radius: 100%;
  text-align: center;
  margin: 5px 20px;
  font-size: 30px;
  padding: 15px;
  display: flex;
  position: relative;
  height: 40px;
  width: 40px;
  color: #fff;
}
